.main-contents {
  .unique-page {
    font-size: 4.5rem;
    margin: 5vh auto 0;
    width: 90vw;

    .image-area {
      margin: 30px auto 0;
      width: 50vw;

      img {
        width: 100%;
      }
    }
  }
}
