.text Vue.jsの簡単なデモを作った
el-row.demo-img-area
  el-col.demo-qiita-img(:span="12")
    img(src="@/assets/demo_qiita.png", alt="")
  el-col.vue-demo-img(:span="12")
    img(src="@/assets/vue_demo_app.png", alt="")
