.main-contents
  PageTitle(:title-text="pageTitleText")
  .unique-page(v-if="pageName==='action_1'")
    include ./views/presentation
  .unique-page(v-else-if="pageName==='action_2'")
    include ./views/handson
  .unique-page(v-else-if="pageName==='action_3'")
    include ./views/demo
  PageContent(:content-text="pageContentText" v-else)
