.introduction
  PageTitle(:title-text="pageTitleText")
  el-row
    el-col.images-content(:span="10")
      .self-image
        img(src="../../assets/self_image.png", alt="self-image")
        .sns-image
          img(src="../../assets/ItemIcon038a.png", alt="sns-image")
    el-col.text-content(:span="14")
      .open-json {
      ul
        li Name: {{ nameText }},
        li Jobs: {{ jobsText }},
        li Communities: {{ communitiesText }},
      .close-json }
