.introduction {
  .images-content {
    height: 85vh;
    position: relative;

    .self-image {
      left: 5vw;
      position: absolute;
      top: 5vh;
      width: 28vw;
    }

    .sns-image {
      bottom: -5vh;
      position: absolute;
      right: -5vw;
      width: 14vw;
    }
  }

  .text-content {
    font-size: 3rem;
    margin-top: 5vh;
    text-align: left;

    ul {
      list-style: none;
      margin: 0 0 0 2rem;
    }
  }
}
